{% extends 'base.html.twig' %}

{% block title %}Cannastrain Library | Detail View{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cannastrain_library') }}
{% endblock %}

{% block body %}
    {% block container_class %}
        <div class="container-fluid">
    {% endblock %}

    {# Header #}
    {% include 'cannastrain_library/partials/_header.html.twig' with {'callToAction': '2. Wähle einen Strain aus.'} %}

    {# Tabs list #}
    {% include 'cannastrain_library/partials/_tab_list.html.twig' %}

    {# Tabs content #}
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="d-flex flex-row border-top-4" id="database-container">

                {# Filters sidebar #}
                {% include 'cannastrain_library/partials/_filters_sidebar.html.twig' with {'foo': 'bar'} %}

                {# Single strain view #}
                <div class="flex-grow-1" id="results">
                    <div class="container-fluid">

                        {# Back btn #}
                        <a href="{{ path('weedwizard_cannastrain-library_breeder-view', {'breeder_id': breeder['seedfinder_id']}) }}"
                           class="btn btn-secondary mt-3 rounded">
                            <i class="fa-solid fa-arrow-left"></i>
                            &nbsp;Zurück zu allen Strains
                        </a>

                        {# Images #}
                        <div class="row">

                            {# Big img #}
                            <div class="col-6 p-3">
                                <div class="cropped-img rounded-3 img-big">
                                    <img src="https://images.unsplash.com/photo-1498671546682-94a232c26d17?q=80&w=2603&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                         class="card-img-top" alt="...">
                                </div>
                            </div>

                            {# Small img left #}
                            <div class="col p-3 d-flex flex-column justify-content-between">
                                <div class="cropped-img user-img-container rounded-3">
                                    <img src="{{ strainInfo.pic }}"
                                         class="card-img-top user-img"
                                         alt="User img for selected strain from SeedFinder">
                                </div>

                                {# Forward / backward btn #}
                                <div>
                                    <button type="button" class="btn btn-primary btn-img rounded-5">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-img rounded-5">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>

                            {# Small image right #}
                            <div class="col p-3">
                                <div class="cropped-img rounded-3">
                                    <img src="https://images.unsplash.com/photo-1457573557536-6b4b6ca9a05e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                         class="card-img-top" alt="...">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 p-3">
                                <div class="d-flex flex-column gap-2 mt-2">
                                    <h3>{{ strainName }}</h3>

                                    <p>{{ strainInfo.descr|replace({'&lt;br /&gt;': '<br>'})|raw }}</p>

                                    {#
                                    <div class="d-flex flex-row justify-content-end gap-4">
                                        <div>
                                            <p class="fw-bold pt-3">Durchschnittlicher Preis pro Gramm</p>
                                        </div>

                                        <div class="input-group" style="width: 150px">
                                            <span class="input-group-text">€</span>
                                            <input type="number" min="0" step="0.01" class="form-control fw-bold"
                                                   aria-label="Amount (to the nearest dollar)" placeholder="9.50"
                                                   disabled>
                                        </div>
                                    </div>
                                    #}
                                </div>
                            </div>

                            <div class="col-3 p-3">
                                <div class="property border-black border-top p-3">
                                    <i class="fa-solid fa-hand-fist filter-icon"></i>
                                    <span>Intensität</span>
                                    <span class="d-block fw-semibold fs-5 mt-1">stark</span>
                                </div>

                                <div class="property border-black border-top border-bottom p-3">
                                    <i class="fa-solid fa-location-dot filter-icon"></i>
                                    <span>Aufzucht</span>
                                    <span class="d-block fw-semibold fs-5 mt-1">Indoor</span>
                                </div>

                                <div class="property border-black border-bottom p-3">
                                    <i class="fa-solid fa-venus-mars filter-icon"></i>
                                    <span>Strain-Typ</span>
                                    <span class="d-block fw-semibold fs-5 mt-1">femisiert</span>
                                </div>
                            </div>

                            <div class="col-3 p-3">
                                <div class="property border-black border-top border-bottom p-3">
                                    <i class="fa-solid fa-cannabis filter-icon"></i>
                                    <span>Herkunft</span>
                                    <span class="d-block fw-semibold fs-5 mt-1">{{ strainInfo.type }}</span>
                                </div>

                                <div class="property border-black border-bottom p-3">
                                    <i class="fa-solid fa-lightbulb filter-icon"></i>
                                    <span>Empfohlen für</span>
                                    <span class="d-block fw-semibold fs-5 mt-1">
                                        {% if strainMedicalInfo %}
                                            {{ strainMedicalInfo.name }}
                                        {% else %}
                                            Info nicht vorhanden
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            Platzhalter Zubehör
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            Platzhalter Sonstiges
        </div>
    </div>
    </div>
{% endblock %}
