<div class="modal" tabindex="-1" id="addMarkerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Marker hinzufügen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form_start(addMarkerForm, {'attr': {'id': 'add_marker_form'}}) }}
            <div class="modal-body">
                {% if not app.user %}
                    <div class="alert alert-warning" role="alert">
                        Du musst angemeldet sein, um einen Marker hinzufügen zu können.
                    </div>
                {% endif %}
                {{ form_errors(addMarkerForm) }}
                {{ form_row(addMarkerForm.title) }}
                {{ form_row(addMarkerForm.description) }}
                {{ form_row(addMarkerForm.public) }}
                {{ form_row(addMarkerForm.coordinates) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                <button type="submit" class="btn btn-primary">Marker hinzufügen</button>
            </div>
            {{ form_end(addMarkerForm) }}
        </div>
    </div>
</div>