{% extends 'base.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block body %}

    <div class="card m-3 p-3">
        <h1>Registrieren</h1><br>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.birthdate) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <br>
        <button type="submit" class="btn btn-primary">Registrieren</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
