{% extends 'base.html.twig' %}

{% block title %}CannaDose Calculator{% endblock %}

{% block script %}
    {{ parent() }}
    {{ encore_entry_script_tags('cannadose_calculator') }}
{% endblock %}

{% block body %}
    {% include('templates/_header.html.twig') with {
        'title': 'CannaDose Calculator'
    } %}

    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-body">
                    {{ form_start(form) }}

                    {{ form_label(form.basis_dosage) }}
                    {{ form_row(form.basis_dosage) }}
                    <div class="row text-center mb-3">
                        <div class="col">
                            <button type="button" class="btn btn-outline-primary ms-3 me-3 w-75 dosage-choice dosage-active" data-basis-dosage="300">
                                Leicht
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-primary ms-3 me-3 w-75 dosage-choice" data-basis-dosage="400">
                                Mittel
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-primary ms-3 me-3 w-75 dosage-choice" data-basis-dosage="500">
                                Stark
                            </button>
                        </div>
                    </div>

                    {{ form_row(form.experience) }}
                    {{ form_row(form.intensity) }}
                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}

                    <div class="alert alert-primary">
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Anfänger</div>
                                    Personen, die noch nie oder nur sehr selten Cannabis konsumiert haben. Sie haben eine sehr geringe oder gar keine Toleranz gegenüber den Wirkungen von THC.
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Gelegenheitsnutzer</div>
                                    Personen, die gelegentlich Cannabis konsumieren, aber nicht regelmäßig. Sie haben eine gewisse Toleranz, aber die Wirkungen von THC können immer noch stark sein.
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Regelmäßige Nutzer</div>
                                    Personen, die regelmäßig Cannabis konsumieren und eine hohe Toleranz gegenüber den Wirkungen von THC haben.
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Schwere Nutzer</div>
                                    Personen, die täglich oder fast täglich Cannabis konsumieren. Sie haben eine sehr hohe Toleranz und benötigen in der Regel höhere Dosen, um die gewünschten Wirkungen zu erzielen.
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header">
                    Berechnungsergebnisse
                </div>
                <div class="card-body overflow-scroll" style="max-height: 840px">
                    {% if recommendedDosages is empty %}
                        <div class="alert alert-warning" role="alert">
                            Es wurden noch keine Dosierungen berechnet.
                        </div>
                    {% endif %}
                    {% for recommendedDosage in recommendedDosages %}
                        <div class="card mb-3">
                            <div class="card-header">
                                {{ recommendedDosage.id }} - {{ recommendedDosage.createdAt|date('d.m.Y') }}
                            </div>
                            <div class="card-body">
                                <p>Für eine <b>{{ recommendedDosage.basisDosage }}mg</b> Basisdosierung und einem Faktor von <b>{{ recommendedDosage.experience }}</b>, bei einer Intensität von <b>{{ recommendedDosage.intensity }}</b> beträgt die empfohlene Dosierung: <b>{{ recommendedDosage.recommendedDosage }}mg</b></p>
                                <a href="{{ path('weedwizard_cannadose_calculator_show_recommended_dosage', {'id': recommendedDosage.id}) }}">Mehr erfahren -></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
