<div class="col-md-6 col-lg-4 col-xl-3 p-4 breeder-card-container pagination-item" id="breeder-card" data-name="{{ name
}}">
    <div class="card rounded-3 mb-4 breeder-card">
        <div class="breeder-logo rounded-top-3">
            <a href="{{ path('weedwizard_cannastrain-library_breeder-view', {breeder_id: seedfinder_id }) }}">
                <img src="https://de.seedfinder.eu/pics/00breeder/{{ image }}" class="breeder-logo-img"
                     alt="Logo of the breeder shown below" loading="lazy">
            </a>
        </div>

        <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>

            <p class="card-text fst-italic">{{ description }}</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Anzahl Strains: <span class="fw-bold">{{ strains_count }}</span></li>

            <li class="list-group-item">Bewertung: {{ rating }}</li>

            <li class="list-group-item">Quelle: <span class="">{{ source }}</span></li>
        </ul>

        <div class="card-body align-self-end">
            <a class="btn btn-primary card-link me-2"
               href="{{ path('weedwizard_cannastrain-library_breeder-view', {breeder_id: seedfinder_id }) }}">Mehr
                erfahren</a>
        </div>
    </div>
</div>