

<div class="col-4 p-4">
    <div class="card rounded-3 mb-4" style="width: auto;">
        <div class="cropped-img rounded-top-3">
            <img src={{ image }} class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            <p class="card-text">{{ description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Intensität: {{ intensity }}</li>
            <li class="list-group-item">Bewertung: {{ rating }}</li>
        </ul>
        <div class="card-body align-self-end">
            <a class="btn btn-outline-primary card-link me-2" href="{{ path('weedwizard_cannastrain-library_strain_view', {id: id}) }}">Mehr erfahren</a>
        </div>
    </div>
</div>