{% extends 'base.html.twig' %}

{% block title %}Canna Consultant{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cannaConsultant') }}
{% endblock %}

{% block body %}
    {% include 'templates/_header.html.twig' with {
        'title': 'Canna Consultant',
    } %}

    {% if app.user.profilePicture %}
        {% set userProfilePicture = '/uploads/profile_pictures/' ~ app.user.profilePicture %}
    {% else %}
        {% set userProfilePicture = 'build/images/userAvatar-placeholder.png' %}
    {% endif %}

    <div class="chat-container overflow-y-auto overflow-x-hidden mb-3" id="chat" data-userPhotoPath="{{ userProfilePicture }}" data-username="{{ app.user.username }}">
        {% if app.environment == 'dev' %}
            <div class="alert alert-warning position-fixed mt-3 d-none d-sm-block" style="z-index: 90; left: 50%; transform: translate(-50%, 0);" role="alert">
                Bitte denkt dran, dass wir jede Anfrage an den Canna-Consultant bezahlen müssen. Bitte nicht so viele Anfragen stellen, bin leider (noch) kein Millionär. Ihr könnt <a href="https://openai.com/api/pricing/" target="_blank">hier</a> nachlesen wie teuer die Anfragen an OpenAI sind. Wir benutzen gerade das Model GPT-3.5 Turbo.
            </div>
        {% endif %}

        {% for message in messages.data|reverse %}
            {% if message.role == 'user' %}
                <div class="row d-flex justify-content-end mb-3">
                    <div class="col-10">
                        <div class="row">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h5 class="d-flex align-items-center small">
                                            <div style="background: url('{{ userProfilePicture }}'); height: 20px; width: 20px; background-repeat: no-repeat; background-size: cover; background-position: center" class="rounded-circle me-2"></div>
                                        {{ app.user.username }}
                                    </h5>
                                    <p class="mb-0" id="{{ message.id }}">{{ message.content[0].text.value }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto"></div>
                </div>
            {% endif %}

            {% if message.role == 'assistant' %}
                <div class="row d-flex justify-content-start mb-3">
                    <div class="col-auto"></div>
                    <div class="col-10">
                        <div class="row">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h5 class="d-flex align-items-center small">
                                        <div style="background: url('{{ asset('build/images/weedwizrad_wizard.jpg') }}'); height: 20px; width: 20px; background-repeat: no-repeat; background-size: cover; background-position: center" class="rounded-circle me-2"></div>
                                        WeedWizard Canna Consultant
                                    </h5>
                                    <p class="mb-0 assistant-message">{{ message.content[0].text.value }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="form-control rounded-5 mb-2 position-relative" id="chat-input-div">
        <div class="d-flex justify-content-center flex-nowrap">
            <div class="d-flex justify-content-end align-items-end pe-0">
                <button class="btn btn-primary rounded-5" style="height: 38px; width: 38px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Work in Progress"><i class="fa-solid fa-paperclip"></i></button>
            </div>
            <div class="ps-0 pe-0 w-100">
                <textarea class="form-control chat-input" id="message" placeholder="Nachricht eingeben..." rows="1" aria-label="Nachricht eingeben..." aria-describedby="button-addon2"></textarea>
            </div>
            <div class="d-flex justify-content-start align-items-end ps-0">
                <button class="btn btn-primary rounded-5" style="height: 38px; width: 38px;" type="button" id="chat-send"><i class="fa-regular fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

{% endblock %}