{% extends 'base.html.twig' %}

{% block title %}{{ userProfile.username }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('editUserProfile') }}
{% endblock %}

{% block body %}
    {{ form_start(userProfileForm) }}
        <div class="card mt-5 mb-5">
            <div id="bannerPreview" style="background: url('{{ '/uploads/banners/' ~ userProfile.banner|default(asset('build/images/gradient.svg')) }}'); height: 250px; background-repeat: no-repeat; background-size: cover" class="card-img-top" data-bs-toggle="tooltip" data-bs-title="Klicken zum ändern des Banners" onclick="document.getElementById('user_profile_form_banner').click()"></div>
            {{ form_row(userProfileForm.banner) }}
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-2">
                        <div class="p-0 bg-dark rounded-circle" >
                            <div id="profilePicturePreview" style="background: url('{{ '/uploads/profile_pictures/' ~ userProfile.profilePicture|default(asset('build/images/userAvatar-placeholder.png')) }}'); height: 160px; background-repeat: no-repeat; background-size: cover; background-position: center" class="rounded-circle" data-bs-toggle="tooltip" data-bs-title="Klicken zum ändern des Profilfotos" onclick="document.getElementById('user_profile_form_profilePicture').click()"></div>
                            {{ form_row(userProfileForm.profilePicture) }}
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(userProfileForm.firstname) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(userProfileForm.lastname) }}
                            </div>
                        </div>
                        {{ form_row(userProfileForm.username) }}
                        <p class="text-muted text-truncate" data-bs-toggle="tooltip" data-bs-title="{{ userProfile.bio }}">
                            {{ form_row(userProfileForm.bio) }}
                        </p>
                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </div>
                    <div class="col-5">
                        <div class="row text-center">
                            <div class="col-lg-3 col-md-3">
                                <h3 class="m-b-0 font-light">{{ userProfile.blogs.count }}</h3><small>Beiträge</small>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <h3 class="m-b-0 font-light">{{ userProfile.followers.count }}</h3><small>Follower</small>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <h3 class="m-b-0 font-light">{{ userProfile.following.count }}</h3><small>Gefolgt</small>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <h3 class="m-b-0 font-light">{{ getAllBlogLikesFromUser(userProfile) }}</h3><small>Likes</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(userProfileForm) }}

    {% if app.user == userProfile %}
        {% include '/templates/_header.html.twig' with {
            'title': 'Beiträge',
            'button': {
                'label': 'Beitrag erstellen',
                'attr': 'data-bs-toggle=modal data-bs-target=#addBlogEntry'
            },
        } %}
    {% else %}
        {% include '/templates/_header.html.twig' with {
            'title': 'Beiträge',
        } %}
    {% endif %}

    <div class="row">
        <div class="col-9 mt-5"></div>
        <div class="col-3">
            <select class="form-select" id="sortBy">
                <option value="id_ASC">Neuste</option>
                <option value="id_DESC">Älteste</option>
                <option value="likes_DESC">Beliebteste</option>
                <option value="likes_ASC">Unbeliebteste</option>
                <option value="comments_DESC">Meiste Kommentare</option>
                <option value="comments_ASC">Wenigste Kommentare</option>
            </select>
        </div>
    </div>
    <div class="row">
        {% for blog in getUserBlogPosts(userProfile) %}
            <div class="col-12 blogEntry" data-created-at="{{ blog.createdAt|date('Y-m-d\\TH:i:sP') }}" data-like-count="{{ blog.likes.count }}" data-comment-count="{{ blog.comments.count }}">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><img src="{{ userProfile.profilePicture|default(asset('build/images/userAvatar-placeholder.png')) }}" height="25" alt="" class="rounded-circle me-2">{{ blog.user.username }} <small class="text-muted h6">- {{ blog.createdAt|format_datetime('long', 'none', locale='de') }}</small></h5>
                        <p class="card-text">{{ blog.content }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="row d-flex">
                            <div class="col-1">
                                {% if hasUserLikedPost(app.user, blog) %}
                                    <a onclick="window.toggleLikeBlogEntry({{ blog.id }}, 'unlike', this)"><i class="fa-solid fa-heart me-2"></i> {{ blog.likes.count }}</a>
                                {% else %}
                                    <a onclick="window.toggleLikeBlogEntry({{ blog.id }}, 'like', this)"><i class="fa-regular fa-heart me-2"></i> {{ blog.likes.count }}</a>
                                {% endif %}
                            </div>
                            <div class="col-1">
                                <a href="{{ path('app_blog_entry', {'id': blog.id}) }}" class="text-decoration-none"><i class="fa-solid fa-comment me-2"></i> {{ blog.comments.count }}</a>
                            </div>
                            <div class="col-1">
                                <a onclick="window.copyToClipboard(window.location.host + '/blog/' + {{ blog.id }}, 'Beitrag wurde in die Zwischenablage kopiert.')"><i class="fa-solid fa-share"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
