{% extends 'base.html.twig' %}

{% block title %}{{ userProfile.username }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('blog') }}
{% endblock %}

{% block body %}
    {% include 'user_profile/_add_blog_entry.html.twig' %}

    <div class="card mt-5 mb-5">
        {% if userProfile.banner %}
            <div style="background: url('{{ '/uploads/banners/' ~ userProfile.banner }}'); height: 250px; background-repeat: no-repeat; background-size: cover" class="card-img-top"></div>
        {% else %}
            <div style="background: url('{{ asset('build/images/gradient.svg') }}'); height: 250px; background-repeat: no-repeat; background-size: cover" class="card-img-top"></div>
        {% endif %}
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-2 d-flex justify-content-center" style="margin-top: -5em;">
                    <div class="p-0 bg-dark rounded-circle" style="height: 160px; width: 160px;">
                        {% if userProfile.profilePicture %}
                            <div style="background: url('{{ '/uploads/profile_pictures/' ~ userProfile.profilePicture }}'); height: 160px; width: 160px; background-repeat: no-repeat; background-size: cover; background-position: center" class="rounded-circle"></div>
                        {% else %}
                            <div style="background: url('{{ asset('build/images/userAvatar-placeholder.png') }}'); height: 160px; width: 160px; background-repeat: no-repeat; background-size: cover; background-position: center" class="rounded-circle"></div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-5">
                    <h3 class="m-b-0">{{ userProfile.firstname }} {{ userProfile.lastname }} <small class="text-muted h6">{{ userProfile.username }}</small></h3>
                    <p class="text-muted text-truncate" data-bs-toggle="tooltip" data-bs-title="{{ userProfile.bio }}">
                        {{ userProfile.bio }}
                    </p>
                    {% if app.user != userProfile %}
                        {% if isUserFollowingUser(app.user, userProfile) %}
                            <button class="btn btn-outline-primary"><i class="fa-solid fa-user-minus me-2"></i>Entfolgen</button>
                        {% else %}
                            <button class="btn btn-primary"><i class="fa-solid fa-user-plus me-2"></i>Folgen</button>
                        {% endif %}
                    {% else %}
                        <a href="{{ path('weedwizard_user_profile_edit', {'username': userProfile.username}) }}" class="btn btn-primary">Profil bearbeiten</a>
                    {% endif %}
                </div>
                <div class="col-5">
                    <div class="row text-center">
                        <div class="col-lg-3 col-md-3">
                            <h3 class="m-b-0 font-light">{{ userProfile.blogs.count }}</h3><small>Beiträge</small>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <h3 class="m-b-0 font-light">{{ userProfile.followers.count }}</h3><small>Follower</small>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <h3 class="m-b-0 font-light">{{ userProfile.following.count }}</h3><small>Gefolgt</small>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <h3 class="m-b-0 font-light">{{ getAllBlogLikesFromUser(userProfile) }}</h3><small>Likes</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if app.user == userProfile %}
        {% include 'templates/_header.html.twig' with {
            'title': 'Beiträge',
            'button': {
                'label': 'Beitrag verfassen',
                'attr': 'data-bs-toggle=modal data-bs-target=#addBlogEntry'
            },
        } %}
    {% else %}
        {% include 'templates/_header.html.twig' with {
            'title': 'Beiträge',
        } %}
    {% endif %}

    <div class="row">
        <div class="col-9 mt-5"></div>
        <div class="col-3">
            <select class="form-select" id="sortBy">
                <option value="id_ASC">Neuste</option>
                <option value="id_DESC">Älteste</option>
                <option value="likes_DESC">Beliebteste</option>
                <option value="likes_ASC">Unbeliebteste</option>
                <option value="comments_DESC">Meiste Kommentare</option>
                <option value="comments_ASC">Wenigste Kommentare</option>
            </select>
        </div>
    </div>
    <div class="row">
        {% for blog in getUserBlogPosts(userProfile) %}
            {% include 'templates/_blog_post_card.html.twig' with {
                    post: blog
                }
            %}
        {% endfor %}
    </div>
{% endblock %}
