{% extends 'base.html.twig' %}

{% block title %}Cannabis Vereine{% endblock %}

{% block body %}
    <div class="modal fade" id="new_club" tabindex="-1" aria-labelledby="Verein erstellen" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5">Verein erstellen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.beschreibung) }}
                    {{ form_row(form.adresse) }}
                    <div id="suggestions-list" class="mb-3" style="display: none"></div>
                    <div class="row">
                        <div class="col-9 mb-3" aria-placeholder="Straße">
                            {{ form_widget(form.strasse) }}
                        </div>
                        <div class="col-3 mb-3">
                            {{ form_widget(form.hausnummer) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mb-3">
                            {{ form_widget(form.plz) }}
                        </div>
                        <div class="col-8 mb-3">
                            {{ form_widget(form.ort) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_widget(form.adresszusatz) }}
                    </div>
                    {{ form_row(form.mitgliedsbeitrag) }}
                    {{ form_row(form.website) }}
                    {{ form_row(form.sonstiges) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="m-5 mt-0">
        <div class="d-flex justify-content-between p-3 pb-0">
            <div class="block">
                <h1>Vereine</h1>
                <h3>Finde oder erstelle Vereine</h3>
            </div>
            <a data-bs-toggle="modal" data-bs-target="#new_club"
               class="align-self-center btn btn-primary align-self-end">Verein erstellen</a>
        </div>
        <hr>

        <div class="m-3">
            <div class="mb-3">
                <div class="btn-group ">
                    <button type="button" class="btn btn-primary">Filter</button>
                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu p-2 mb-1">
                        <li>
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input" type="checkbox">
                                Filter
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input" type="checkbox">
                                Filter1
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input" type="checkbox">
                                Filter2
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input" type="checkbox">
                                Filter3
                            </label>
                        </li>
                    </ul>
                </div>

                <div class="btn-group" style="margin-left: 10px">
                    <button type="button" class="btn btn-primary">Sortierung</button>
                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu p-2 mb-1">
                        <li>
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input" type="checkbox">
                                Filter
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input" type="checkbox">
                                Filter1
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input" type="checkbox">
                                Filter2
                            </label>
                        </li>
                        <li>
                            <label class="form-check-label" for="flexCheckDefault">
                                <input class="form-check-input" type="checkbox">
                                Filter3
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row justify-content-around">
                {% for verein in cannabisVereine %}
                    <div class="col-4 mb-3">
                        <div class="card">
                            <h3 class="card-header">{{ verein.name }}</h3>
                            <div class="card-body">
                                <p class="card-text">{{ verein.beschreibung }}</p>
                                <hr>
                                <p class="card-text">Adresse: {{ verein.adresse }}</p>
                                {% if verein.website != null %}
                                    <p class="card-text">Website: {{ verein.website }}</p>
                                {% endif %}

                                {% if verein.mitgliedsbeitrag == null %}
                                    <p class="card-text">Mitgliedsbeitrag: Kostenlos</p>
                                {% else %}
                                    <p class="card-text">Mitgliedsbeitrag: {{ verein.mitgliedsbeitrag }}</p>
                                {% endif %}
                            </div>
                            <a href="{{ path('join_verein', {'id': verein.id}) }}" class="btn btn-primary card-footer bg-primary text-light w-100">
                                Verein beitreten</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
