{% extends 'base.html.twig' %}

{% block title %}GrowMate - Cannabis Anbau{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('growMate') }}
    {{ encore_entry_script_tags('cannaConsultant') }}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const chat = document.getElementById('chat');
            chat.scrollTop = chat.scrollHeight;

            const form = document.getElementById('form-chat');
            form.addEventListener('submit', function() {
                setTimeout(function() {
                    chat.scrollTop = chat.scrollHeight;
                }, 100);
            });
        });
    </script>
{% endblock %}

{% block body %}

    {% include 'templates/_header.html.twig' with {
        'title': 'GrowMate',
        'button': {
            'label': 'Pflanze hinzufügen',
            'attr': 'data-bs-toggle=modal data-bs-target=#addPlantModal'
        }
    } %}

    <!-- Anzeige von Fehlermeldungen -->
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <!-- Modal zum Hinzufügen einer Pflanze -->
    <div class="modal fade" id="addPlantModal" role="dialog" aria-labelledby="addPlantModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPlantModalLabel">Neue Pflanze hinzufügen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                    {{ form_start(form, {'attr': {'id': 'addPlantForm'}}) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.breeder) }}
                    {{ form_row(form.strain) }}

                    {{ form_row(form.date) }}
                    {{ form_row(form.state) }}
                    {{ form_row(form.placeOfCultivation) }}
                    <div style="float: right">{{ form_row(form.submit) }}</div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Pflanzen Karten -->
    <div id="plantsContainer" class="row mt-4 ">
        {% for plant in plants %}
            <div class="col-md-4" style="margin-top: 5%">
                <div class="card mb-4" style="height: 95%">
                    <div class="card-body" style="margin: 0">
                        <table class="table table-borderless">
                            <div style="width: 100%; color: white;"><h4 class="card-title" style="text-align: center">{{ plant.name }}</h4></div>
                            <tr>
                                {% if plant.strain.pics %}
                                    <td style="vertical-align: middle">
                                        <p class="card-text" style="width: 150%; float: left;">
                                            Typ: {{ plant.strain.name }}, {{ plant.breeder.name }}
                                            <br><br>
                                            Datum: {{ plant.date|date('d.m.Y') }}
                                            <br><br>
                                            Entwicklungsphase: {{ plant.state }}
                                        </p>
                                    </td>
                                {% else %}
                                    <td style="vertical-align: middle">
                                        <p class="card-text" style="width: 150%; float: left;">
                                            Typ: {{ plant.strain.name }}, {{ plant.breeder.name }}
                                            <br>
                                            Datum: {{ plant.date|date('d.m.Y') }}
                                            <br>
                                        </p>
                                    </td>
                                {% endif %}
                                {% if plant.strain.pics %}
                                    <td rowspan="2"><img src="{{ plant.strain.breederInfo['pic'] }}" class="card-img-top" alt="Bild der Pflanze" style="height:12rem; width: 9rem; float: right"></td>
                                {% endif %}
                            </tr>
                        </table>
                        {% if plant.strain.pics == false %}
                        <img src="{{ asset('build/images/plant-hybrid.jpg') }}" class="card-img-top" alt="Bild der Pflanze" style="">
                        {% endif %}
                        <div class="card-text" style="text-align: center">Prognose:
                            <img src="{{ asset('build/images/GreenGraph.png') }}" class="card-img-top" alt="Graph" style="height: 15%; width: 15%">
                        </div>
                    </div>
                    <a class="card-footer btn btn-primary bg-primary" data-bs-toggle="offcanvas" aria-controls="offcanvasBottom" data-bs-target="#offcanvasBottom-{{ plant.id }}" style="color: #ffffff">
                        Informationen
                    </a>
                </div>
            </div>

            <!-- Details Modal -->
            <!-- Offcanvas für Pflanzendetails -->
            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom-{{ plant.id }}" aria-labelledby="offcanvasLabel-{{ plant.id }}" style="height: 84%; background-color: #284A4F; border-top-right-radius: 15px; border-top-left-radius: 15px; ">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasLabel-{{ plant.id }}" style="color: white">Pflanzendetails</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style=" margin-top: -1rem; margin-bottom: -4rem; overflow: hidden">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Oben links: Name, erstellt vor, Entwicklungsphase -->
                            <div class="col-sm-5">
                                <div class="card" style="background-color: #99A881; padding: 1rem; border-radius: 10px; color: black; height: 90%">
                                    <div class="card-body">
                                        <div >
                                            <h3>Name: {{ plant.name }}</h3>
                                            <p>Angepflanzt vor: {{ (date().diff(plant.date)).days }} Tagen</p>
                                            <p>Entwicklungsphase: {{ plant.state }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Oben rechts: Prognose -->
                            <div class="col-sm-7">
                                <div class="card" style="background-color: #203C47; color: white; padding: 1rem; border-radius: 10px; height: 90%">
                                    <div class="card-body">
                                        <div class="col-md-6" >
                                            <h5 style="margin-top: -1rem;">Prognose</h5>
                                            <canvas id="myChart-{{ plant.id }}" class="myChart" style="width:100%;max-width:1000px; height: 175px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Unten links: CannaConsultant Thread Fenster -->
                            <div class="col-sm-5">
                                <div class="card" style="background-color: #203C47; color: white; padding: 1rem; border-radius: 10px;">
                                    <div class="card-body">
                                        <h5>CannaConsultant</h5>
                                        <div class="overflow-y-auto overflow-x-hidden mb-3" id="chat" data-userInitials="{{ app.user.firstname|first|upper ~ app.user.lastname|first|upper }}" style="max-height: 30vh;">
                                            {% for message in plant.messages.data|reverse %}
                                                {% if message.role == 'user' %}
                                                    <div class="row d-flex justify-content-end mb-3">
                                                        <div class="col-9">
                                                            <div class="row">
                                                                <div class="card mb-2">
                                                                    <div class="card-body">
                                                                        <p class="mb-0" id="{{ message.id }}">{{ message.content[0].text.value }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-1 text-center">
                                                            <div class="rounded-5" style="height: 50px; width: 50px; background-color: #656003">
                                                                <p class="mb-0" style="padding: 12px 0; text-align: center">
                                                                    {{ app.user.firstname|first|upper ~ app.user.lastname|first|upper }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if message.role == 'assistant' %}
                                                    <div class="row d-flex justify-content-start mb-3">
                                                        <div class="col-1 text-center">
                                                            <img src="{{ asset('build/images/weedwizrad_wizard.jpg') }}" height="50px" width="50px" class="rounded-5">
                                                        </div>

                                                        <div class="col-9">
                                                            <div class="row">
                                                                <div class="card mb-2">
                                                                    <div class="card-body">
                                                                        <p class="mb-0 assistant-message">{{ message.content[0].text.value }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        <div class="chat-input-container row mb-2">
                                            <div class="col-1"></div>
                                            <div class="col-10">
                                                <div class="rounded-5 p-2 form-control">
                                                    <form class="row" id="form-chat">
                                                        <div class="col-11">
                                                            <textarea type="text" id="chat-input" class="form-control border-0" aria-label="Nachricht eingeben" placeholder="Sende eine Nachricht an den Canna Consultant" rows="1" style="resize: none"></textarea>
                                                        </div>
                                                        <div class="col-1 d-flex justify-content-end">
                                                            <button class="btn btn-primary rounded-5" type="submit" id="chat-send"><i class="fa-regular fa-paper-plane"></i></button>
                                                        </div>
                                                        <input type="hidden" name="instructions" id="cannaconsultant_instructions" value="Du bist ein hilfreicher virtueller Budtender, welcher sich um den Anbau von Cannabis Pflanzen kümmert. Die Pflanze die du gerade betreust gehört {{ app.user.username }} und trägt die ID {{ plant.id }}">
                                                        <input type="hidden" name="thread" id="cannaconsultant_thread" value="{{ plant.thread|json_encode }}">
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Unten rechts: Wochenaufgaben + anklicken -->
                            <div class="col-sm-7">
                                <div class="card" style="background-color: #203C47; color: white; padding: 1rem; border-radius: 10px;">
                                    <div class="card-body">
                                        <div class="col-md-6" >
                                            <h5>Wochenaufgaben</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="" id="water-{{ plant.id }}">
                                                    <label class="form-check-label" for="water-{{ plant.id }}">Gießen - 500ml</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="" id="fertilize-{{ plant.id }}">
                                                    <label class="form-check-label" for="fertilize-{{ plant.id }}">Düngen - 100ml</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="" id="temperature-{{ plant.id }}">
                                                    <label class="form-check-label" for="temperature-{{ plant.id }}">Temperatur prüfen</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="" id="pesticides-{{ plant.id }}">
                                                    <label class="form-check-label" for="pesticides-{{ plant.id }}">Pestizide anwenden</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="offcanvas-footer" style="height: 3rem">
                    <form method="post" action="{{ path('delete_plant', {'id': plant.id}) }}" onsubmit="return confirm('Bist du sicher, dass du diese Pflanze löschen möchtest?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plant.id) }}">
                        <button class="btn btn-danger float-start">Löschen</button>
                    </form>
                    <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="offcanvas">Schließen</button>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
