{% extends 'base.html.twig' %}

{% block title %}GrowMate - Cannabis Anbau{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('growMate') }}
    {{ encore_entry_script_tags('cannaConsultant') }}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const chat = document.getElementById('chat');
            chat.scrollTop = chat.scrollHeight;

            const form = document.getElementById('form-chat');
            form.addEventListener('submit', function() {
                setTimeout(function() {
                    chat.scrollTop = chat.scrollHeight;
                }, 100);
            });
        });
    </script>
{% endblock %}

{% block body %}

    {% include 'templates/_header.html.twig' with {
        'title': 'GrowMate',
        'button': {
            'label': 'Pflanze hinzufügen',
            'attr': 'data-bs-toggle=modal data-bs-target=#addPlantModal'
        }
    } %}

    <!-- Anzeige von Fehlermeldungen -->
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <!-- Modal zum Hinzufügen einer Pflanze -->
    <div class="modal fade" id="addPlantModal" role="dialog" aria-labelledby="addPlantModalLabel" aria-hidden="true" style="z-index: 10000;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPlantModalLabel">Neue Pflanze hinzufügen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                    {{ form_start(form, {'attr': {'id': 'addPlantForm'}}) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.breeder) }}
                    {{ form_row(form.strain) }}

                    {{ form_row(form.date) }}
                    {{ form_row(form.state) }}
                    {{ form_row(form.placeOfCultivation) }}
                    <div style="float: right">{{ form_row(form.submit) }}</div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Pflanzen Karten -->
    <div class="alert alert-warning mb-3 alert-dismissible fade show">
        <strong>Hinweis:</strong> Ein umfassender Leitfaden zu den Post-Harvest-Prozessen, einschließlich Ernte, Trocknen, Aushärten und Lagern, finden Sie <a href="{{ path('weedwizard_knowledge_base_entry', {'category': 'growing_tips', 'id': 17}) }}">hier</a>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div id="plantsContainer" class="row mt-4 ">
        {% for plant in plants %}
            <div class="col-md-4" style="margin-top: 5%">
                <div class="card mb-4" style="height: 95%">
                    <div class="card-body" style="margin: 0">
                        <table class="table table-borderless">
                            <div style="width: 100%; color: white;"><h4 class="card-title" style="text-align: center">{{ plant.name }}</h4></div>
                            <tr>
                                {% if plant.strain.pics %}
                                    <td style="vertical-align: middle">
                                        <p class="card-text" style="width: 150%; float: left;">
                                            Typ: {{ plant.strain.name }},<br> {{ plant.breeder.name }}
                                            <br><br>
                                            Datum: {{ plant.date|date('d.m.Y') }}
                                            <br><br>
                                            Entwicklungsphase: {{ plant.state }}
                                        </p>
                                    </td>
                                {% else %}
                                    <td style="vertical-align: middle">
                                        <p class="card-text" style="width: 150%; float: left;">
                                            Typ: {{ plant.strain.name }}, {{ plant.breeder.name }}
                                            <br>
                                            Datum: {{ plant.date|date('d.m.Y') }}
                                            <br>
                                        </p>
                                    </td>
                                {% endif %}
                                {% if plant.strain.pics %}
                                    <td rowspan="2"><img src="{{ plant.strain.breederInfo['pic'] }}" class="card-img-top" alt="Bild der Pflanze" style="height:12rem; width: 9rem; float: right"></td>
                                {% endif %}
                            </tr>
                        </table>
                        {% if plant.strain.pics == false %}
                        <img src="{{ asset('build/images/plant-hybrid.jpg') }}" class="card-img-top" alt="Bild der Pflanze" style="">
                        {% endif %}
                        <div class="card-text" style="text-align: center">Prognose:
                            {% if plant.currentPrognosisValue >= 0 %}
                                <img src="{{ asset('build/images/GreenGraph.png') }}" class="card-img-top" alt="Graph" style="height: 15%; width: 15%">
                            {% else %}
                                <img src="{{ asset('build/images/RedGraph.png') }}" class="card-img-top" alt="Graph" style="height: 15%; width: 15%">
                            {% endif %}
                        </div>
                    </div>
                    <a class="card-footer btn btn-primary bg-primary" data-bs-toggle="offcanvas" aria-controls="offcanvasBottom" data-bs-target="#offcanvasBottom-{{ plant.id }}" style="color: #ffffff">
                        Informationen
                    </a>
                </div>
            </div>

            <!-- Details Modal -->
            <!-- Offcanvas für Pflanzendetails -->
            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom-{{ plant.id }}" aria-labelledby="offcanvasLabel-{{ plant.id }}" style="height: 84%; background-color: #284A4F; border-top-right-radius: 15px; border-top-left-radius: 15px; ">
                <div class="offcanvas-header" style="height: 30px">
                    <h4 class="offcanvas-title" id="offcanvasLabel-{{ plant.id }}" style="color: white">Pflanzendetails</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="overflow: hidden">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Oben links: Name, erstellt vor, Entwicklungsphase -->
                            <div class="col-sm-5 mt-2" >
                                <div class="card" style="background-color: #99A881; border-radius: 10px; color: black; height: 100%">
                                    <div class="card-body">
                                        <div >
                                            <h3>Name: {{ plant.name }}</h3>
                                            <p><b>Angepflanzt vor:</b> {{ (date().diff(plant.date)).days }} Tagen</p>
                                            <p><b>Entwicklungsphase:</b> {{ plant.state }}</p>
                                            <p><b>Typ:</b> {{ plant.strain.name }}, {{ plant.breeder.name }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Oben rechts: Prognose -->
                            <div class="col-sm-7">
                                <div class="card mt-2" style="background-color: #203C47; color: white; border-radius: 10px;">
                                    <div class="card-body">
                                        <div class="col-md-6">
                                            <h5>Wochenaufgaben</h5>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1 weekly-task" type="checkbox" data-plant="{{ plant.id }}" data-task="water" id="water-{{ plant.id }}" {% if isTaskCompleted(plant.id, 'water') > 0 %} checked disabled {% endif %}>
                                                    <label class="form-check-label" for="water-{{ plant.id }}" id="water-{{ plant.id }}-label">Gießen - 500ml {% if isTaskCompleted(plant.id, 'water') > 0 %} in {{ isTaskCompleted(plant.id, 'water') }} Tagen. {% endif %}</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1 weekly-task" type="checkbox" value="" data-plant="{{ plant.id }}" data-task="fertilize" id="fertilize-{{ plant.id }}" {% if isTaskCompleted(plant.id, 'fertilize') > 0 %} checked disabled {% endif %}>
                                                    <label class="form-check-label" for="fertilize-{{ plant.id }}" id="fertilize-{{ plant.id }}-label">Düngen - 100ml {% if isTaskCompleted(plant.id, 'fertilize') > 0 %} in {{ isTaskCompleted(plant.id, 'fertilize') }} Tagen. {% endif %}</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1 weekly-task" type="checkbox" value="" data-plant="{{ plant.id }}" data-task="temperature" id="temperature-{{ plant.id }}" {% if isTaskCompleted(plant.id, 'temperature') > 0 %} checked disabled {% endif %}>
                                                    <label class="form-check-label" for="temperature-{{ plant.id }}" id="temperature-{{ plant.id }}-label">Temperatur prüfen {% if isTaskCompleted(plant.id, 'temperature') > 0 %} in {{ isTaskCompleted(plant.id, 'temperature') }} Tagen. {% endif %}</label>
                                                </li>
                                                <li class="list-group-item">
                                                    <input class="form-check-input me-1 weekly-task" type="checkbox" value="" data-plant="{{ plant.id }}" data-task="pesticide" id="pesticides-{{ plant.id }}" {% if isTaskCompleted(plant.id, 'pesticide') > 0 %} checked disabled {% endif %}>
                                                    <label class="form-check-label" for="pesticides-{{ plant.id }}" id="pesticide-{{ plant.id }}-label">Pestizide anwenden {% if isTaskCompleted(plant.id, 'pesticide') > 0 %} in {{ isTaskCompleted(plant.id, 'pesticide') }} Tagen. {% endif %}</label>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <!-- Unten links: CannaConsultant Thread Fenster -->
                            <div class="col-sm-5 mt-2">
                                <div class="card mt-2" style="background-color: #203C47; color: white; border-radius: 10px; height: 95%">
                                    <div class="card-body">

                                        {% if app.user.profilePicture %}
                                            {% set userProfilePicture = '/uploads/profile_pictures/' ~ app.user.profilePicture %}
                                        {% else %}
                                            {% set userProfilePicture = 'build/images/userAvatar-placeholder.png' %}
                                        {% endif %}

                                        <h5>CannaConsultant</h5>
                                        <div class="overflow-y-auto overflow-x-hidden mb-3" id="chat" data-userPhotoPath="{{ userProfilePicture }}" data-username="{{ app.user.username }}" style="height: 20vh;">
                                            {% for message in plant.messages.data|reverse %}
                                                {% if message.role == 'user' %}
                                                    <div class="row d-flex justify-content-end mb-3">
                                                        <div class="col-10">
                                                            <div class="row">
                                                                <div class="card mb-2">
                                                                    <div class="card-body">
                                                                        <h5 class="d-flex align-items-center small">
                                                                            <div style="background: url('{{ userProfilePicture }}'); height: 20px; width: 20px; background-repeat: no-repeat; background-size: cover; background-position: center" class="rounded-circle me-2"></div>
                                                                            {{ app.user.username }}
                                                                        </h5>
                                                                        <p class="mb-0" id="{{ message.id }}">{{ message.content[0].text.value }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-auto"></div>
                                                    </div>
                                                {% endif %}

                                                {% if message.role == 'assistant' %}
                                                    <div class="row d-flex justify-content-start mb-3">
                                                        <div class="col-auto"></div>
                                                        <div class="col-10">
                                                            <div class="row">
                                                                <div class="card mb-2">
                                                                    <div class="card-body">
                                                                        <h5 class="d-flex align-items-center small">
                                                                            <div style="background: url('{{ asset('build/images/weedwizrad_wizard.jpg') }}'); height: 20px; width: 20px; background-repeat: no-repeat; background-size: cover; background-position: center" class="rounded-circle me-2"></div>
                                                                            WeedWizard Canna Consultant
                                                                        </h5>
                                                                        <p class="mb-0 assistant-message">{{ message.content[0].text.value }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        <div class="form-control rounded-5 mb-2 position-relative" id="chat-input-div">
                                            <div class="d-flex justify-content-center flex-nowrap">
                                                <div class="d-flex justify-content-end align-items-end pe-0">
                                                    <button class="btn btn-primary rounded-5" style="height: 38px; width: 38px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Work in Progress"><i class="fa-solid fa-paperclip"></i></button>
                                                </div>
                                                <div class="ps-0 pe-0 w-100">
                                                    <textarea class="form-control chat-input" id="message" placeholder="Nachricht eingeben..." rows="1" aria-label="Nachricht eingeben..." aria-describedby="button-addon2"></textarea>
                                                </div>
                                                <div class="d-flex justify-content-start align-items-end ps-0">
                                                    <button class="btn btn-primary rounded-5" style="height: 38px; width: 38px;" type="button" id="chat-send"><i class="fa-regular fa-paper-plane"></i></button>
                                                </div>
                                            </div>
                                            <input type="hidden" name="instructions" id="cannaconsultant_instructions" value="Du bist ein hilfreicher virtueller Budtender, welcher sich um den Anbau von Cannabis Pflanzen kümmert. Die Pflanze die du gerade betreust gehört {{ app.user.username }} und trägt die ID {{ plant.id }}">
                                            <input type="hidden" name="thread" id="cannaconsultant_thread" value="{{ plant.thread|json_encode }}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Unten rechts: Wochenaufgaben + anklicken -->
                            <div class="col-sm-7 mt-2">
                                <div class="card mt-2" style="background-color: #203C47; color: white; border-radius: 10px; height: 95%">
                                    <div class="card-body" >
                                        <div class="col-md-12" >
                                            <h5>Prognose</h5>
                                            <div class="row">
                                                <div class="col-sm-8" style="height: 200px; ">
                                                    {{ render_chart(plant['chart']) }}
                                                </div>
                                                <div class="col-sm-4" style="text-align: center">
                                                    {% if plant.currentPrognosisValue >= 0 %}
                                                        <img src="{{ asset('build/images/GreenGraph.png') }}" alt="Graph" style="height: 100px; width: auto; ">
                                                        <p>(die Pflanze hat mit hoher Wahrscheinlichkeit eine <b>positive</b> Entwicklung)</p>
                                                    {% else  %}
                                                        <img src="{{ asset('build/images/RedGraph.png') }}" alt="Graph" style="height: 100px; width: auto;">
                                                        <p>(die Pflanze hat mit hoher Wahrscheinlichkeit eine <b>negative</b> Entwicklung)</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="offcanvas-footer" style="height: 3rem">
                    <form method="post" action="{{ path('delete_plant', {'id': plant.id}) }}" onsubmit="return confirm('Bist du sicher, dass du diese Pflanze löschen möchtest?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plant.id) }}">
                        <button class="btn btn-danger float-start">Löschen</button>
                    </form>
                    <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="offcanvas">Schließen</button>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
