{% extends 'base.html.twig' %}

{% block title %}
    {{ ('knowledge_base.categories.'~category)|trans([], 'weedwizard', 'de') }}
{% endblock %}

{% block noContainerBody %}
    <div class="card container col-8 my-5" id="faq-header" style="border-bottom: none; background-image: url('{{ asset('build/images/bg-wave.svg') }}'); background-repeat: no-repeat; background-position: bottom">
        <div class="row position-absolute">
            <a href="{{ path('weedwizard_knowledge_base') }}" class="text-decoration-none ms-2 mt-3 d-flex align-items-center"><i class="fa-solid fa-arrow-left border p-2 me-2 border-1" style="border-color: rgb(109, 149, 112) !important; border-radius: 50%"></i> Zurück</a>
        </div>
        <div class="row flex-lg-row-reverse align-items-center">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ asset('build/images/problem-solving.svg') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" style="max-height: 40vh" loading="lazy">
            </div>
            <div class="col-lg-6 ps-5">
                <h1 class="display-6 fw-bold lh-1 mb-3">WeedWizard Knowledge Base</h1>
                <p class="lead">Willkommen auf der WeedWizard Knowledge Base. Hier findest du alle deine Fragen, bezüglich Cannabis, bis aufs letzte Detail beantwortet. Von der Pflanze bis zum anbaue einer Pflanze.</p>
            </div>
            <ul class="nav nav-tabs mt-0 ps-3" style="border-radius: 0.375rem;">
                <li class="nav-item locator-nav">
                    <a class="nav-link active" aria-current="page">Knowledge Base</a>
                </li>
                <li class="nav-item locator-nav">
                    <a class="nav-link" aria-current="page" href="{{ path('weedwizard_faq') }}">FAQ</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container mb-3">
        {% include 'templates/_header.html.twig' with {
            'title': ('knowledge_base.categories.'~category)|trans([], 'weedwizard', 'de')
        } %}

        <div class="accordion" id="accordionExample">
            {% for entry in entries %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ category }}-{{ entry.id }}" aria-controls="accordion-{{ category }}-{{ entry.id }}">
                            {{ entry.articleName }}
                        </button>
                    </h2>
                    <div id="accordion-{{ category }}-{{ entry.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion-{{ category }}-{{ entry.id }}">
                        <div class="accordion-body">
                            {{ entry.articleContent|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

