{% extends 'base.html.twig' %}

{% block title %}Knowledge Base{% endblock %}


{% block noContainerBody %}
    <div class="card container col-11 my-5" id="faq-header" style="border-bottom: none; background-image: url('{{ asset('build/images/bg-wave.svg') }}'); background-repeat: no-repeat; background-position: bottom">
        <div class="row flex-lg-row-reverse align-items-center">
            <div class="col-10 col-sm-8 col-lg-6 d-none d-sm-block">
                <img src="{{ asset('build/images/problem-solving.svg') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" style="max-height: 40vh" loading="lazy">
            </div>
            <div class="col-lg-6 ps-md-5 ps-sm-0 text-center text-sm-left">
                <h1 class="display-6 fw-bold lh-1 mb-3 pt-3 pt-sm-0">WeedWizard Knowledge Base</h1>
                <p class="lead">Willkommen auf der WeedWizard Knowledge Base. Hier findest du alle deine Fragen, bezüglich Cannabis, bis aufs letzte Detail beantwortet. Von der Pflanze bis zum anbaue einer Pflanze.</p>
            </div>
            <ul class="nav nav-tabs mt-0 ps-3" style="border-radius: 0.375rem;">
                <li class="nav-item locator-nav">
                    <a class="nav-link active" aria-current="page">Knowledge Base</a>
                </li>
                <li class="nav-item locator-nav">
                    <a class="nav-link" aria-current="page" href="{{ path('weedwizard_faq') }}">FAQ</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container mb-3">
        {% include 'templates/_header.html.twig' with {
            'title': 'Wichtigste Kategorien'
        } %}

        <div class="row">
            <a href="{{ path('weedwizard_knowledge_base_category', {'category': 'cannabis_tips'}) }}" class="text-decoration-none">
                <div class="col-12">
                    <div class="card mb-3 lift">
                        <div class="row g-0">
                            <div class="col-md-2 bg-primary d-none d-sm-flex align-items-center">
                                <i class="fa-regular fa-compass fs-1 text-white mx-auto"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Erste Schritte mit Cannabis</h5>
                                    <p class="card-text">Hier erfährst du alle wichtigen Informationen über Cannabis. Was ist überhaupt Cannabis? Was sind Seeds? Was ist ein breeder? Was sind hybride? Und vieles mehr!</p>
                                    <p class="card-text"><small class="text-body-secondary">{{ groupedEntries['cannabis_tips']|length }} Artikel in dieser Kategorie</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ path('weedwizard_knowledge_base_category', {'category': 'growing_tips'}) }}" class="text-decoration-none">
                <div class="col-12">
                    <div class="card mb-3 lift">
                        <div class="row g-0">
                            <div class="col-md-2 bg-primary d-none d-sm-flex align-items-center">
                                <i class="fa-solid fa-seedling fs-1 text-white mx-auto"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Eigener Anbau von Pflanzen</h5>
                                    <p class="card-text">Hier erfährst du alle wichtigen Informationen über den Anbau deiner eigenen Cannabispflanzen. Worauf muss ich achten? Was ist die beste Umgebung für den Anbau?</p>
                                    <p class="card-text"><small class="text-body-secondary">{{ groupedEntries['growing_tips']|length }} Artikel in dieser Kategorie</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{ path('weedwizard_knowledge_base_category', {'category': 'consuming_tips'}) }}" class="text-decoration-none">
                <div class="col-12">
                    <div class="card mb-3 lift">
                        <div class="row g-0">
                            <div class="col-md-2 bg-primary d-none d-sm-flex align-items-center">
                                <i class="fa-solid fa-joint fs-1 text-white mx-auto"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Cannabis Konsum</h5>
                                    <p class="card-text">Hier erfährst du alle wichtigen Informationen über den Konsum von Cannabis. Worauf muss ich als Anfänger achten? Wie schädlich ist es? Und vieles mehr!</p>
                                    <p class="card-text"><small class="text-body-secondary">{{ groupedEntries['consuming_tips']|length }} Artikel in dieser Kategorie</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        {% include 'templates/_header.html.twig' with {
            'title': 'Andere Kategorien'
        } %}

        <div class="row">
            <div class="col-md-4 mb-3">
                <a href="{{ path('weedwizard_knowledge_base_category', {'category': 'CannabisConsumptionComplianceMap'}) }}" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-primary"><i class="fa-regular fa-map"></i> Cannabis Consumption Compliance Map</h6>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            {{ groupedEntries['CannabisConsumptionComplianceMap']|length }} Artikel in dieser Kategorie
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('weedwizard_knowledge_base_entry', {'category': 'Social Club'}) }}" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-primary"><i class="fa-solid fa-person-shelter"></i> Social Club</h6>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            {{ groupedEntries['Social Club']|length }} Artikel in dieser Kategorie
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('weedwizard_knowledge_base_category', {'category': 'BudBashLocator'}) }}" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-primary"><i class="fa-solid fa-location-crosshairs"></i> Bud Bash Locator</h6>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            {{ groupedEntries['BudBashLocator']|length }} Artikel in dieser Kategorie
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('weedwizard_knowledge_base_category', {'category': 'CannastrainLibrary'}) }}" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-primary"><i class="fa-solid fa-book"></i> Cannastrain Library</h6>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            {{ groupedEntries['CannastrainLibrary']|length }} Artikel in dieser Kategorie
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('weedwizard_knowledge_base_category', {'category': 'CannadoseCalculator'}) }}" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-primary"><i class="fa-solid fa-calculator"></i> Cannadose Calculator</h6>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            {{ groupedEntries['CannadoseCalculator']|length }} Artikel in dieser Kategorie
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('weedwizard_knowledge_base_category', {'category': 'GrowMate'}) }}" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-primary"><i class="fa-solid fa-seedling"></i> Grow Mate</h6>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            {{ groupedEntries['GrowMate']|length }} Artikel in dieser Kategorie
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ path('weedwizard_knowledge_base_category', {'category': 'CannaConsultant'}) }}" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-primary"><i class="fa-regular fa-comment"></i> Canna Consultant</h6>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            {{ groupedEntries['CannaConsultant']|length }} Artikel in dieser Kategorie
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>


{% endblock %}
